*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;    
}

body{
    display: flex;
    justify-content: center;
    background: linear-gradient(120deg,#7a33ad,#3561f2, #7a33ad);
    background-repeat: no-repeat;
    background-size: cover;   
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

main{
    background-color: #f0f8ff;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 23px;
    border-radius: 8px;
    box-sizing: border-box;
}

div{
    padding: 10px;
    margin: 5px;
}

#header{
    padding-top: 15px;
    text-align: center;
    color: #3514A3;
}
#capition{
    text-align: center;
    color: #3514A3;
    margin-bottom: 10px;
}

.input{
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.13);
    background-color: white;
}

.label{
    color: #2D118A;
    font-weight: bold;
    font-size: 1em;
}

.submit{
    display: flex;
    justify-content: center;
    background: linear-gradient(120deg,#5b13f2,#261cdb);
    margin: auto;
    cursor: pointer;
    color: white;
    width: 70px;
    font-weight:bold ;
    font-size: 1.1em;
    border: unset;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
    border: unset;
    transition: .5s ease-in-out;
}

